<ion-header class="ion-padding-top"> 
  <ion-toolbar>
    <ion-list>

      <ion-title  class="textTitle ion-text-justify">
        {{ name }}
      </ion-title>
      <ion-button shape="round" color="danger" (click)="removeChat()">x</ion-button>
    </ion-list>
  </ion-toolbar>

</ion-header>

<ion-content class="messages-scrollion-text-center">
  <ion-list>
    <ion-item *ngFor="let message of messages">
      <ion-avatar slot="start">
        <img
          src="https://images.vexels.com/media/users/3/147187/isolated/preview/f517d84b27cd2b44702335a227e7cd7d-sunflower-head-drawing-by-vexels.png">
      </ion-avatar>
      <ion-label>
        <h2>{{ message.sender }}</h2>
        <p>{{ message.body }}</p>
        <hr>
        <p>{{ message.date }} </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-textarea [(ngModel)]="body" placeholder="Type your message here"></ion-textarea>
    <ion-button shape="round" color="warning" fill="outline" (click)="sendMessage()">
      <ion-icon name="md-send"></ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>