<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon color="warning" name="md-contact"></ion-icon>
      Users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" size="small" color="warning" (click)="redirectToAddContact()">New contact</ion-button>
  <ion-list >
    <ion-item *ngFor="let user of users">
      <ion-label style="font-size: 12px" >{{ user.name }} {{ user.surname }}  </ion-label>
      <ion-label class="ion-text-end">{{ user.phone }}</ion-label>
      <ion-button color="danger" (click)="removeContact(user.phone)">
        <ion-icon name="md-close"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>