<ion-header>
  <ion-toolbar>
    <ion-title class="ion-float-center">
      <ion-icon color="warning" size="small" name="md-add-circle"></ion-icon>
      New chat
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-text-center">
  <ion-icon class="ion-margin" name="call" color="warning"></ion-icon>
  <br>
  <ion-label>User</ion-label>
  <ion-input [(ngModel)]="user" placeholder="user"></ion-input>
  <ion-button expand="full" size="small" color="warning" (click)="createChat()">Create</ion-button>
</ion-content>